@charset "UTF-8";
/* Import AppleFonts */
@import url("../fonts/SFPro/index.css");
@import url("../fonts/PingFangSC/index.css");
/* End Import AppleFonts */
* {
  --bs-modal-border-radius: 1rem !important;
  --bs-card-border-radius: 1rem !important;
  --bs-btn-border-radius: .675rem !important;
  font-family: 'SF Pro Display', 'PingFangSC', "Microsoft YaHei UI", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 50px;
  box-sizing: border-box;
  width: 100dvw;
  height: 100dvh;
}

#topnav {
  position: fixed;
  width: 100dvw;
  top: 0;
  background-color: rgba(248, 249, 250, .85) !important;
  backdrop-filter: blur(8px);
}

.btn {
  font-weight: 600;
  border-radius: .675rem;
  box-shadow: 0px 0px 4px 0px rgba(77,77,77,0.75);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(77,77,77,0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(77,77,77,0.75);
}