@charset "UTF-8";
@import url("global.css");
body {
  background-color: deeppink;
}

#myAlertModal .modal-dialog .modal-content {
  --bs-modal-bg: #fff6 !important;
  backdrop-filter: blur(8px);
}

#maincontainer {
  background-color: #e5e5e5aa;
  width: 24rem;
  max-width: calc(100dvw - 20px);
  position: absolute;
  left: 50%;
  top: calc(50% + 25px);
  transform: translate(-50%, -50%);
  padding: 1rem 1.35rem 1.05rem 1.35rem;
  box-sizing: border-box;
  border-radius: 2.375rem;
  box-shadow: 0px 0px 8px 0px rgba(100,100,100,0.75);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(100,100,100,0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(100,100,100,0.75);
}

#maincontainer p:not(:first-child) {
  margin: 0;
}

#sbList {
  text-align: left;
}

#myAlertModal2 .modal-content > div {
  border: none;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}